.profileWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35rem;
}
.userHeadPic {
  width: 98rem;
  height: 98rem;
  border-radius: 50rem;
  overflow: hidden;
  margin-bottom: 24px;
}
.userName {
  font-size: 32px;
  font-weight: normal;
  color: #0e1228;
  line-height: 45px;
  margin-bottom: 14px;
}
.tagWrap {
  display: flex;
}
.tagItem {
  padding: 2px 8px;
  border-radius: 6px;
  background: rgba(55, 114, 255, 0.1);
  font-size: 12px;
  font-weight: normal;
  color: #3772ff;
  line-height: 24px;
  margin-right: 8px;
}
.introduce {
  width: 668rem;
  border-radius: 10px;
  padding: 20rem 10rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #454c66;
}
.leftSliderList {
  position: absolute;
  top: 156px;
  right: 10px;
}
.leftSliderItem {
  width: 50rem;
  height: 50rem;
  border-radius: 25rem;
  background: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  cursor: pointer;
}
.tokenWrap {
  margin-top: 66px;
  padding: 0 120rem 125rem 120rem;
}
.tokenDescribe {
  height: 144px;
  padding: 0 56px;
  display: flex;
  align-items: center;
}
.profileTitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 45px;
  color: #2d2f35;
}
.describeContent {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #454c66;
  margin-left: 28px;
}
.tokenList {
  display: flex;
  justify-content: space-between;
}
.tokenItem {
  width: 246.5rem;
  display: flex;
  align-items: center;
  border-radius: 20rem;
  background: #f4f5f6;
  padding: 24rem 16rem;
}
.tokenLogo {
  width: 52rem;
  height: 52rem;
  border-radius: 42rem;
  margin-right: 24rem;
}
.tokenName {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #0f1229;
}
.tokenNum {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #0f1229;
}
.tokenPrice {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #454c66;
}
.showMoreWrap {
  width: 118rem;
  height: 117rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20rem;
  background: #f4f5f6;
  cursor: pointer;
}
.showMoreContent {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #454c66;
}
