.headerWrap {
  height: 100rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120rem;
}

.logoImage {
  width: 200rem;
}
